<div class="centered-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-2">
          <div class="card bg-dark text-white p-4">
            <!-- Imagen circular -->
            <div style="position: relative; width: 100%; margin: auto;">
              <a href="https://www.mundodeportivo.com/alfabeta/hero/2021/01/como-leer-comics-marvel-online.jpg?width=768&aspect_ratio=16:9&format=nowebp">
                  <img src="https://www.mundodeportivo.com/alfabeta/hero/2021/01/como-leer-comics-marvel-online.jpg?width=768&aspect_ratio=16:9&format=nowebp" alt="Imagen de cómics" style="width: 100%;">
              </a>
          </div>
          
  
            <!-- Nombre -->
            <h2 class="animate__animated animate__wobble texto-blanco">Sobre nosotros</h2>
            <!-- Biografía -->
            <p class="animate__animated animate__fadeInLeft texto-blanco">¡Bienvenidos al emocionante mundo de los webcómics! Somos un equipo apasionado de artistas y narradores que se dedican a crear historias visuales cautivadoras. Permítenos presentarte lo que hacemos:</p>
            <p class="text-justify"><br>
            <p class="animate__animated animate__fadeInLeft texto-blanco">1. Inspiración Artística: Navegamos por la web en busca de inspiración. Exploramos los estilos de dibujo, los diálogos ingeniosos, los escenarios vibrantes y los conflictos emocionantes de los mejores artistas. Aunque nos inspiramos en su creatividad, siempre nos esforzamos por crear nuestras propias historias únicas.</p>
            <p class="animate__animated animate__fadeInRight texto-blanco">2. Nuestra Visión: Creemos que los cómics son más que simples ilustraciones. A través de viñetas, contamos historias que nos importan y compartimos nuestra visión del mundo. Ya sea en páginas especializadas o en redes sociales, estamos emocionados de digitalizar nuestra obra y expresar lo que queremos decir al mundo.</p>


          </div>
        </div>
      </div>
    </div>
  </div>
  