<div class="centered-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-2">
          <div class="card bg-dark text-white p-4">
            <!-- Imagen circular -->
            <div style="position: relative; width: 100%; margin: auto;">
              <div style="position: relative; width: 100%; height: 0; padding-top: 100%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); overflow: hidden; border-radius: 50%; will-change: transform; display: flex; justify-content: center; align-items: center;">
                <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0;" src="https://www.canva.com/design/DAGCQYQvbIg/Vi_Qacm-21WL19bMMG7oRA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen"></iframe>
              </div>
            </div>
            <a href="https://www.canva.com/design/DAGCQYQvbIg/Vi_Qacm-21WL19bMMG7oRA/view?utm_content=DAGCQYQvbIg&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a>
  
            <!-- Nombre -->
            <h2 class="animate__animated animate__wobble texto-blanco">Mario Sebastián Ávila León</h2>
            <!-- Biografía -->
            <p class="animate__animated animate__fadeInLeft texto-blanco">Mi nombre es Mario Sebastián Ávila León, nacido el 29 de noviembre de 2002 en el cantón de Pasaje ubicado en la provincia de El Oro en Ecuador. Desde temprana edad he tenido un gran interés sobre cómo funcionan las cosas a mi alrededor a tal punto que desarmaba aparatos para poder entender cómo funcionaban y los componentes que poseían. La informática ha sido desde siempre mi mayor pasión, acompañado con las áreas de la física y química, cuyo interés despertó en los últimos años de colegio. Actualmente estudio la carrera de Ingeniería en Tecnologías de la Información, una carrera enfocada al futuro, mis mayores aficiones son:</p>
            <p class="text-justify"><br>
            <p class="animate__animated animate__fadeInLeft texto-blanco">- Base de datos</p>
            <p class="animate__animated animate__fadeInRight texto-blanco">- Redes</p>
            <p class="animate__animated animate__fadeInLeft texto-blanco">- Cableado estructurado</p>
            <p class="animate__animated animate__fadeInRight texto-blanco">- Sistemas digitales</p>
            <p class="animate__animated animate__fadeInLeft texto-blanco">- Telecomunicaciones</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  