<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="animate__animated animate__zoomInUp texto-blanco">Comic app</h1>
    <p class="animate__animated animate__slideInUp texto-blanco">Esta es una app de comics</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="animate__animated animate__wobble texto-blanco">Explora tus cómics favoritos</h2>
      <p class="animate__animated animate__backInDown texto-blanco">Sumérgete en un mundo de aventuras con nuestros cómics cuidadosamente seleccionados. Descubre nuevas historias, personajes y universos fascinantes.</p>
    </div>
    <div class="col-md-6">
      <div style="position: relative; width: 100%; height: 0; padding-top: 23.0769%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;" src="https://www.canva.com/design/DAGDj0nvSI0/0C132nzLT0ZAJDsF9VHJfw/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen"></iframe>
      </div>
      <a href="https://www.canva.com/design/DAGDj0nvSI0/0C132nzLT0ZAJDsF9VHJfw/view?utm_content=DAGDj0nvSI0&utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank" rel="noopener"></a>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div style="position: relative; width: 100%; height: 0; padding-top: 23.0769%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;" src="https://www.canva.com/design/DAGDj5howf4/M6RnrVe6rg5_yv4N1JCYeA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen"></iframe>
      </div>
      <a href="https://www.canva.com/design/DAGDj5howf4/M6RnrVe6rg5_yv4N1JCYeA/view?utm_content=DAGDj5howf4&utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank" rel="noopener"></a>
    </div>

    <div class="col-md-6">
      <h2 class="animate__animated animate__slideInDown texto-blanco">Conoce a tus personajes favoritos</h2>
      <p class="animate__animated animate__backInDown texto-blanco">Encuentra información detallada sobre tus héroes y villanos preferidos. Desde sus orígenes hasta sus habilidades, todo lo que necesitas saber está aquí.</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <h2 class="animate__animated animate__slideInLeft texto-blanco">Únete a la comunidad</h2>
      <p class="animate__animated animate__backInDown texto-blanco">Interactúa con otros fans, comparte tus opiniones y descubre contenido exclusivo. ¡Nuestra comunidad está lista para recibirte!</p>
    </div>
    <div class="col-md-6">
      <div style="position: relative; width: 100%; height: 0; padding-top: 23.0769%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;" src="https://www.canva.com/design/DAGDkMY5YVU/36L_qA3euI7RDPt-DzLr1A/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen"></iframe>
      </div>
      <a href="https://www.canva.com/design/DAGDkMY5YVU/36L_qA3euI7RDPt-DzLr1A/view?utm_content=DAGDkMY5YVU&utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank" rel="noopener"></a>
    </div>
  </div>
</div>
