<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/assets/img/aquaman.png" alt="Hero Image">
          <div class="card-body">
            <h5 class="animate__animated animate__zoomInDown">Aquaman</h5>
            <p class="animate__animated animate__flipInX">Aquaman es el gobernante telepático de la Atlántida y de los océanos de la Tierra.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/assets/img/batman.png" alt="Hero Image">
          <div class="card-body">
            <h5 class="animate__animated animate__zoomInDown">Batman</h5>
            <p class="animate__animated animate__flipInX">Batman es la identidad secreta de Bruce Wayne, un empresario multimillonario, galán y filántropo. Presenció el asesinato de sus padres cuando era niño lo marcó profundamente y lo llevó a entrenarse en la perfección física e intelectual para ponerse un disfraz de murciélago con el fin de combatir el crimen.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/assets/img/daredevil.png" alt="Hero Image">
          <div class="card-body">
            <h5 class="animate__animated animate__zoomInDown">Daredevil</h5>
            <p class="animate__animated animate__flipInX">Daredevil, alter ego de Matthew Michael "Matt" Murdock, es un superhéroe ficticio que aparece en los cómics estadounidenses publicados por Marvel Comics.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/assets/img/hulk.png" alt="Hero Image">
          <div class="card-body">
            <h5 class="animate__animated animate__zoomInDown">Hulk</h5>
            <p class="animate__animated animate__flipInX">Hulk es un superhéroe de ficción que aparece en los cómics americanos publicados por Marvel Comics. El personaje fue creado por Stan Lee y Jack Kirby y apareció por primera vez en The Incredible Hulk #1 (mayo de 1962).</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/assets/img/linterna-verde.png" alt="Hero Image">
          <div class="card-body">
            <h5 class="animate__animated animate__zoomInDown">Linterna verde</h5>
            <p class="animate__animated animate__flipInX">Linterna Verde fue uno de los miembros fundadores de la Liga de la Justicia, junto con Flash, Aquaman, el Detective Marciano y Canario Negro.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/assets/img/spiderman.png" alt="Hero Image">
          <div class="card-body">
            <h5 class="animate__animated animate__zoomInDown">Spiderman</h5>
            <p class="animate__animated animate__flipInX">Peter Parker es un adolescente como otro cualquiera. Vive con su tía May y su tío Ben, va al instituto y le encantan las clases de ciencias. Sin embargo, todo cambia el día que, durante una excursión del insituto a un laboratorio, ¡Peter es mordido por una araña radioactiva y se convierte en Spider-Man!</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/assets/img/wolverine.png" alt="Hero Image">
          <div class="card-body">
            <h5 class="animate__animated animate__zoomInDown">Wolverine</h5>
            <p class="animate__animated animate__flipInX">Wolverine, cuyo nombre de nacimiento es James Howlett, ​ es un superhéroe y antihéroe ficticio que aparece en los cómics publicados por Marvel Comics, principalmente en asociación con los X-Men.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  