/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://github.com/MarioAvilaSL/Practica1.0-Angular/blob/9138fb227059952de3257bf0dbc260a719df1e58/src/assets/4845746.jpg');
}
  
.texto-blanco {
    color: white;
  }

  .card {
    width: 18rem;
    margin-bottom: 20px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  
